body {
    font-family: 'Open sans', sans-serif;
    background-image: url(../images/background/bcg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#container {
    position: relative;
}

.centrage {
    margin: 10px auto;
    overflow: hidden;
}

.largeur {
    display: block;
    margin-bottom: 10px;
}


.social {
    display: inline-block;
    float: left;
    position: relative;
    width: 30px;
    height: 30px;
    overflow: hidden;
}

.social_face {
    position: absolute;
    top: -30px;
    width: 30px;
    transition: all .5s;

}

.social_face:hover {
    position: absolute;
    top: 0;
    width: 30px;

}

/*header {*/
/*    min-height: 100vh;*/
/*}*/

.logo_index {
    min-height: 50vh;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    background-image: url(../images/logoA.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;
}

.logo_index h1 {
    font-size: 2em;
    color: #404040;
    margin: 2rem 0 0 0;
    letter-spacing: .075em;
    font-weight: bolder;
}

.logo_index h2 {
    margin-top: -8px;
    margin-left: 2rem;
    color: #404040;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo {
    min-height: 8.75rem;
    min-width: 100%;
    flex: 1 0 31.333%;
    flex-direction: column;
    background-color: #fff;
    background-image: url(../images/logoA.png);
    background-repeat: no-repeat;
    background-position: 2rem center;
    background-size: auto;
    display: flex;
    border: solid 2px #fff;
}

.logo h1 {
    font-size: 1.225em;
    color: #404040;
    margin: 2rem 8px 8px 11rem;
    letter-spacing: .075em;
    font-weight: bolder;
    width: auto;

}

.logo h2 {
    margin-top: -8px;
    margin-left: 11rem;
    color: #404040;
    font-size: 1.125rem;
    font-weight: bold;
}

/*header .pages {*/
.pages {
    position: absolute;
    z-index: 100;
    top: 2000vh;
    left: 0;
    right: 0;
    /*width: 100%;*/
    min-width: 0;
    width: 100%;
    flex: 1;
    display: flex;
    margin: auto;
    /*margin: 2rem auto;*/
    /*padding: 16px 0 0 0;*/
    padding: 0;
    flex-wrap: wrap;
    transition: all 680ms ease-in-out;
}

.pages:after {
    background-color: rgba(255, 255, 255, 90%);
    width: 100vw;
    height: 100vh;
    content: " ";
    z-index: 0;
}

.show {
    top: 20vh !important;
}

#menu {
    height: 30px;
    width: 30px;
    font-size: 24px;
    padding: 0;
    margin-right: 16px;
    background-color: transparent;
    color: #000000;
    border: 0;
    float: right;
}

.menu-icon {
    width: 36px;
    height: 36px;
}

/*header .pages > li {*/
.pages > li {
    display: flex !important;
    flex-basis: calc(50% - 8px);
    flex-direction: column;
    justify-content: space-between;
    aspect-ratio: 1/1;
    margin: 2px;
    padding: 0;
    overflow: hidden;
    border: solid 1px gray;
    border-radius: 4px;
    background-size: 50%;
}

.onglet:link,
.onglet:hover,
.onglet:visited,
.onglet:active {
    color: gray;
    text-decoration: none;
}


.onglet {
    display: block;
    width: 100%;
    background-color: #fff;
    padding: 4px;
    font-size: .85rem;
}

.about {
    background: #00ADEF url(../images/icons/about.png) no-repeat center;
}

.about:hover {
    background-color: #01A1DD;
}

.about .onglet_bas,
.folio .onglet_bas,
.profil .onglet_bas,
.ctc .onglet_bas {
    display: block;
    width: 100%;
    bottom: 0;
    padding: 1px 4px;
    color: #fff;
    border: none;
    text-decoration: none;
}

.about .onglet_bas {
    background-color: #01A1DD;
}

.folio {
    background: #71AB01 url(../images/icons/portfolio.png) no-repeat center;
}

.folio:hover {
    background-color: #659700;
}

.folio .onglet_bas {
    background-color: #659700;
}

.profil {
    background: #F3A131 url(../images/icons/resume.png) no-repeat center;
}

.profil:hover {
    background-color: #E19324;
}

.profil .onglet_bas {
    background-color: #E19324;
}

.ctc {
    background: #404040 url(../images/icons/contacts.png) no-repeat center;
}

.ctc:hover {
    background-color: #303030;
}

.ctc .onglet_bas {
    background-color: #303030;
}

#index_content {
    width: 100%;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}

#slider_container {
    width: 100%;
    margin: auto;
    background-color: #fff;
}

#index_content .right,
#index_content .right > article {
    display: flex;
    flex-direction: column;
    min-width: 0;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 4px;
}

#index_content .right .corps {
    min-width: 0;
    width: 100%;
    flex-direction: column;
    background-color: #01A1DD;
}

#index_content .right .corps h3,
#index_content .right .infos h3,
#index_content .xp h3,
#index_content .logiciel h3,
#index_content .right .corps p {
    margin: 0;
    padding: 24px;
    color: #fff;
}

#index_content .right .corps p {
    line-height: 1.85rem;
}

#index_content .right .corps h3 {
    font-weight: bolder;
    background-color: #00ADEF;
}

#index_content .right .infos {
    margin-top: 8px;
    min-width: 0;
    width: 100%;
    flex-direction: column;
    padding: 0;
}

#index_content .right .infos ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;;
}

#index_content .right .infos li,
#index_content .right.contact .corps li {
    width: 100%;
    display: flex;
    padding: 8px 0 8px 0;
    background-color: #01A1DD;
    color: #fff;
    margin: 4px 0 8px 0;
}

#index_content .right.contact .infos li .label,
#index_content .right .infos li .label {
    width: 31.333%;
    flex-shrink: 0;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 2px;
    margin: -8px 8px -8px 0;
    font-weight: bold;
}

#index_content .right .infos li .label {
    background-color: #00ADEF;
}

#index_content .right.contact .infos li .label {
    background-color: transparent;
    color: #e0dede;
}

#index_content .right.contact {
    flex-direction: column;
    margin: 0;
}

#index_content .right.contact > article {
    flex-direction: column;
    margin: 0 6px;
}

#index_content .xp,
#index_content .logiciel,
#index_content .right.contact .infos,
#index_content .right.contact .corps {
    padding: 0;
    min-width: 0;
    width: 100%;
    flex: 1;
    flex-direction: column;
    margin: 16px 0;
}

#index_content .right.contact .infos,
#index_content .right.contact .corps {
    background-color: #303030;
    color: #e0dede;
}

#index_content .logiciel,
#index_content .xp {
    background-color: #E19324;
    color: #fff;
}


#index_content .right.contact .infos h3,
#index_content .right.contact .corps h3 {
    background-color: #404040;
    color: #e0dede;
}

#index_content .xp h3,
#index_content .logiciel h3 {
    background-color: #EAB569;
    color: #fff;
}

#index_content .right.contact .corps ul,
#index_content .right. .infos ul {
    margin: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;;
}

#index_content .right.contact .corps ul {
    padding: 4px 4px 4px 16px;
    margin-left: 16px;
}


#index_content .right. .infos ul {
    padding: 0;
}


#index_content .right.contact .corps li {
    flex-direction: column;
    background-color: transparent;
}

#index_content .right.contact .corps li .label {
    font-weight: bolder;
    margin-left: -16px;
}


#index_content .right.contact .infos form {
    margin: 8px;
    min-width: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

#index_content .right.contact .infos form .row {
    min-width: 0;
    width: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;

}

#index_content .right.contact .infos form label {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 4px;
}

#index_content .right.contact .infos form input,
#index_content .right.contact .infos form textarea {
    min-width: 0;
    width: 100%;
    padding: 4px 2px;
    font-size: 1.125rem;
    border-radius: 8px;
}

#index_content .right.contact .infos form .button {

    width: 100%;
    padding: 8px 4px;
}


#index_content .xp article {

}

#index_content .xp article h4 {
    font-weight: bolder;
    font-size: 1.115rem;
    line-height: 2rem;
    padding: 1px 4px 1px calc(2rem + 8px);
    background-image: url("../images/icons/resume_smaller.png");
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: 4px center;
    display: flex;
    justify-content: space-between;

}

#index_content .xp article h5 {
    font-size: 1rem;
    font-weight: bold;
}

#index_content .xp article p {
    font-size: 1rem;
}

#index_content .xp article h5,
#index_content .xp article p {
    margin-top: -24px;
    padding: 4px;
}

#index_content .xp article h4 .annee {
    padding: 2px 4px;
    background-color: #e0dede;
    color: #000;
}


#index_content .logiciel article .score {
    width: 5%;
    background-color: #fff;
    color: #404040;
    display: block;
    font-size: .8125em;
    margin: 0 auto 3.322259136212625% 0.7653061224489796%;
    padding: 8px 0;
}

#index_content .logiciel article:nth-child(2) .score {
    width: 97%;
}

#index_content .logiciel article:nth-child(3) .score {
    width: 90%;
}

#index_content .logiciel article:nth-child(4) .score {
    width: 85%;
}

#index_content .logiciel article:nth-child(5) .score {
    width: 80%;
}

#index_content .logiciel article:nth-child(6) .score {
    width: 75%;
}

/*#index_content .logiciel article .score:nth-child(2){*/
/*    width: 50% !important;*/
/*}*/

.portfolio{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.ptf {
    min-width: 0;
    width: 100%;
    flex-basis: 100%;
    /*height: 66.44518272425249%;*/
    position: relative;
    overflow: hidden;
    font-size: 1.375em;
    margin: 0 0 1% 1.5%;
    padding: 0;
    display: block;
    float: left;


}

.ptf img{
    width: 100%;
}

.ptf:hover img {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.rideau {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 97.5%;
    margin: 0;
    padding: 0;
    background-color: rgba(108, 190, 66, .8);
    color: #fff;
    transition: all .6s;
}

.rideau .titre {
    background-color: rgba(108, 190, 66, .9);
    display: block;
    padding: .4em;

}

.ptf:hover .rideau {
    position: absolute;
    top: 80%;

}

@media (min-width: 768px) {

    /*body {*/
    /*    background-image: url(../images/background/bcg.jpg);*/
    /*    background-size: cover;*/
    /*}*/
    header {
        height: 8.75rem;
        min-height: 8.75rem;
        display: flex;
        width: 100%;
    }

    #menu {
        display: none;
    }

    .logo_index, .logo {
        min-height: 0;
        min-width: 0;
        width: 100%;
        height: 100%;
        /*height: 8.75em;*/
        /*min-height: 8.75em;*/
        /*flex-basis: 31.333%;*/
        flex: 1 0 31.333%;
        background-color: #fff;
        background-image: url(../images/logoA.png);
        background-repeat: no-repeat;
        background-position: 5px 5px;
        background-size: auto;
        display: flex;
        border: solid 2px #fff;
    }

    .logo {
        position: relative;
    }

    .logo h1 {
        font-size: 1.25rem;
        margin: 0;
        position: absolute;
        top: 35.71428571428571%;
        right: 3.3222591362126%;
        letter-spacing: .075em;
    }


    .logo h2 {
        font-size: 1.124em;
        color: #404040;
        margin: 2rem 0 0 0;
        letter-spacing: .055em;
        font-weight: bold;
        position: absolute;
        top: 36.71428571428571%;
        right: 3.3222591362126%;
    }

    /*header .pages {*/
    .pages {
        position: static;
        flex-wrap: nowrap;
        flex: 0 1 auto;
        padding: 0 0 0 8px;
        margin: 0;
    }

    .pages:after {
        display: none;
    }

    /*header .pages > li {*/
    .pages > li {
        /*height: 8.75em;*/
        /*flex-basis: calc(24% - 8px);*/
        min-width: 0;
        width: 100%;
        max-height: 8.75em;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: space-between;
        aspect-ratio: 1/1;
        margin: 0 8px;
        padding: 0;
        overflow: hidden;
        border: solid 1px gray;
        border-radius: 4px;
        background-size: 50%;
    }

    .pages > li:first-child {
        margin-left: 0;
    }

    .pages > li:last-child {
        margin-right: 0;
    }

    #index_content {
        flex-direction: row;
        margin: 8px;
        gap: 8px;
    }

    #slider_container {
        display: flex;
        flex-direction: column;
        flex: 1 0 31.333%;
        justify-content: center;
        height: auto;
        margin: 0 8px;
        border: solid 2px #fff;
    }

    #index_content .right,
    #index_content .right > article {
        flex-direction: row;
        margin: 0 4px;
    }

    #index_content .right.contact {
        flex-direction: row;
        margin: 0;
        justify-content: space-between;
        gap: 8px;
    }

    #index_content .right.contact > article {
        flex-direction: row;
        margin: 0 6px;
    }


    #index_content .right .corps {
        width: 50%;
    }

    #index_content .right.contact .corps,
    #index_content .logiciel {
        flex: 0 1 31.333%;
        margin: 16px 8px;

        /*!*width: 31.333%;*!*/
        /*min-width: 0;*/
        /*flex: 0 1 31.333%;*/
        /*flex-direction: column;*/
        /*background-color: #303030;*/
        /*color: #e0dede;*/
    }

    #index_content .right.contact .corps {
        border: solid 2px #303030;
    }

    #index_content .logiciel {
        border: solid 2px #E19324;
    }

    #index_content .right {
        width: 100%;
    }


    #index_content .right .corps h3,
    #index_content .right .corps p,
    #index_content .right.contact h3,
    #index_content .right.contact p,
    #index_content .logiciel h3,
    #index_content .xp h3 {
        padding: 16px;;
    }

    #index_content .right .corps h3 {
        font-weight: bolder;
        background-color: #00ADEF;
    }

    #index_content .right.contact h3 {
        font-weight: bolder;
        background-color: #404040;
    }

    #index_content .right.contact .infos h3 {
        margin: 0;
    }

    #index_content .right .corps p,
    #index_content .right.contact p {
        line-height: 1.45rem;
    }

    /*#index_content .right.contact .corps li  {*/
    /*    list-style-type: none;*/
    /*    padding: 0 4px;*/
    /*}*/
    /*#index_content .right .corps ul{*/
    /*#index_content .xp,*/
    #index_content .right .infos {
        margin-top: 0;
        width: 50%;
        /*flex-direction: column;*/
        /*padding: 0;*/
    }

    /*#index_content .right.contact .infos {*/
    /*    !*padding: 0;*!*/
    /*    !*min-width: 0;*!*/
    /*    !*flex: 1;*!*/
    /*    flex-direction: column;*/
    /*    !*background-color: #303030;*!*/
    /*    !*color: #e0dede;*!*/
    /*}*/
    #index_content .right.contact .corps ul,
    #index_content .right. .infos ul {
        margin: 0;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;;
    }

    #index_content .right.contact .corps ul {
        padding: 4px 4px 4px 16px;
        margin-left: 16px;
    }


    #index_content .right. .infos ul {
        padding: 0;
    }


    #index_content .right.contact .corps li,
    #index_content .right .infos li,
    #index_content .xp li {
        width: 100%;
        display: flex;
        padding: 8px 0 8px 0;
        margin: 0;
        list-style-type: none;
    }

    #index_content .right .infos li,
    #index_content .xp li {
        background-color: #01A1DD;
        color: #fff;
    }

    /* #index_content .right.contact .corps li {
         flex-direction: column;
         background-color: transparent;
     }

     #index_content .right.contact .corps li .label {
         font-weight: bolder;
         margin-left: -16px;
     }*/
    /*#index_content .right.contact .infos form {*/
    /*    margin: 8px;*/
    /*    min-width: 0;*/
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*    justify-content: space-between;*/
    /*    gap: 16px;*/
    /*}*/
    /*#index_content .right.contact .infos form .row {*/
    /*    min-width: 0;*/
    /*    padding: 8px;*/
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*    justify-content: space-between;*/
    /*    gap: 8px;*/
    /*}*/
    /*#index_content .right.contact .infos form label {*/
    /*    font-size: 1.125rem;*/
    /*    font-weight: bold;*/
    /*    margin-bottom: 4px;*/
    /*}*/
    /*#index_content .right.contact .infos form input,*/
    /*#index_content .right.contact .infos form textarea {*/
    /*    min-width: 0;*/
    /*    padding: 4px 2px;*/
    /*    font-size: 1.125rem;*/
    /*    border-radius: 8px;*/
    /*}*/
    #index_content .right.contact .infos form .button {
        max-width: max-content;
    }


    /*#index_content .right .infos li .label {*/
    /*    width: 31.333%;*/
    /*    flex-shrink: 0;*/
    /*    padding-top: 8px;*/
    /*    padding-left: 8px;*/
    /*    padding-right: 2px;*/
    /*    margin: -8px 8px -8px 0;*/
    /*    background-color: #00ADEF;*/
    /*    font-weight: bold;*/
    /*}*/

    /*portfolio*/


    .portfolio{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4px;
        margin: 0;
        padding: 0;
    }
    .ptf {
        width: 31.3333%;
        flex-basis: 31.333%;
        /*height: 66.44518272425249%;*/
        /*position: relative;*/
        /*overflow: hidden;*/
        /*font-size: 1.375em;*/
        /*margin: 0 0 1% 1.5%;*/
        /*padding: 0;*/
        /*display: block;*/
        /*float: left;*/
    }

    /*.ptf:hover img {*/
    /*    margin: 0;*/
    /*    padding: 0;*/
    /*    overflow: hidden;*/
    /*}*/

    /*.rideau {*/
    /*    display: block;*/
    /*    position: absolute;*/
    /*    top: 0;*/
    /*    left: 0;*/
    /*    width: 100%;*/
    /*    height: 97.5%;*/
    /*    margin: 0;*/
    /*    padding: 0;*/
    /*    background-color: rgba(108, 190, 66, .8);*/
    /*    color: #fff;*/
    /*    transition: all .6s;*/
    /*}*/

    /*.rideau .titre {*/
    /*    background-color: rgba(108, 190, 66, .9);*/
    /*    display: block;*/
    /*    padding: .4em;*/

    /*}*/

    /*.ptf:hover .rideau {*/
    /*    position: absolute;*/
    /*    top: 80%;*/

    /*}*/
}